################################################
###############  .gitignore   ##################
################################################

node_modules
bower_components
.DS_STORE
.node_history
*.log
dist/
